<div class="row bg-white" style="border: 1px solid #d6d6d6;">
  <div class="col-4">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;min-height:150px;margin: 25px;">
  </div>

  <div class="col-8">
    <h1>{{user.name}}</h1>
    <p>{{user.email}}</p>
    <p>已評論{{user.Comments.length}}間餐廳</p>

    {{#ifCond user.id check}}
    <div>
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    </div>
    {{/ifCond}}
  </div>
</div>

</br>

<div class="row">
  <div class="col-6">
    <div class="card user-card">
      <div class="card-header">
        <h5>{{user.Followings.length}} followings (追蹤中)</h5>
      </div>

      <div class="d-flex flex-row">
        {{#each user.Followings}}
        <a href="/users/{{this.id}}" class="rest-img ml-3 my-3">
          <div style="background-image: url({{this.image}});"></div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card user-card">
      <div class="card-header">
        <h5>已評論{{user.Comments.length}}間餐廳</h5>
      </div>

      <div class="d-flex flex-row">
        {{#each user.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}" class="rest-img ml-3 my-3">
          <div style="background-image: url({{this.Restaurant.image}});"></div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

</br>

<div class="row">
  <div class="col-6">
    <div class="card user-card">
      <div class="card-header">
        <h5>{{user.Followers.length}} follower (粉絲人數)</h5>
      </div>

      <div class="d-flex flex-row">
        {{#each user.Followers}}
        <a href="/users/{{this.id}}" class="rest-img ml-3 my-3">
          <div style="background-image: url({{this.image}});"></div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card user-card">
      <div class="card-header">
        <h5>已收藏的{{user.FavoritedRestaurants.length}}間餐廳</h5>
      </div>

      <div class="d-flex flex-row">
        {{#each user.FavoritedRestaurants}}
        <a href="/restaurants/{{this.id}}" class="rest-img ml-3 my-3">
          <div style="background-image: url({{this.image}});"></div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>